flake8==3.8.4
importlib-metadata==3.4.0
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
typing-extensions==3.7.4.3
zipp==3.4.0

# Deps do pytest
py==1.8.2
attrs==19.2.0
pluggy<1.0.0a1,>=0.12


-r requirements.txt
